fastapi[standard]==0.115.2
starlette>=0.40.0
typing-extensions>=4.0
sqlalchemy[asyncio]
sqlmodel>=0.0.22
alembic
alembic-postgresql-enum>=1.3.0
sentry-sdk[fastapi]
psycopg2-binary
pyjwt
passlib
argon2_cffi
